.branding-logo {
    font-weight: 100;
    color: $grey500;
    span {
        position: absolute;
        display: inline-block;
        color: $grey200;
        transform-origin: left;
    }
}

@keyframes switch {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes stretch-left {
    0% {
        transform: scaleX(1);
        opacity: 1;
      }
      25%,
      100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes stretch-right {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(0);
    }
    30%,
    100% {
        transform: scaleX(1);
    }
}