$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey500: #9E9E9E;
$grey700: #616161;
$blue: #0057e7;
$primary-color: #009688;
$accent-color: #FF7043;
$background-color: $grey50;
$dark-text-color: $grey500;
$warning: #689F38;
$error: #F44336;
$navbar-width: 300px;
$navbar-height: 60px;
html {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', 'FreeSans', Helvetica, Arial, sans-serif;
    background-color: $background-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.button {
    font-size: 1rem;
    padding: 1rem;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: $background-color;
    color: $dark-text-color;
    transition: box-shadow 150ms linear;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
    }
    &:active {
        box-shadow: none;
    }
    &.ok {
        color: $primary-color
    }
    &.cancel {
        color: $accent-color
    }
}

.toolbar {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    flex-shrink: 0;
    &.right {
        justify-content: flex-end;
    }
}

@import './Container/Container';
@import './Navbar/Navbar';
@import './Home/Home';
@import './Dashboard/Dashboard';
@import './InputFiles/InputFiles';
@import './Collection/Collection';
@import './InputCollection/InputCollection';
@import './InputDocument/InputDocument';
@import './InputDocument/DocumentInfo';
@import './Branding/Logo';
/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/